* {
  box-sizing: border-box;
}

body {
   font-family: 'Open Sans Condensed', sans-serif;
   padding: 40px 30px;
 }

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  color: mediumaquamarine;
}